<div class="row">
    <div class="col-sm-12 col-md-12  col-lg-12">
        <!-- <h1>Hi {{user.firstName}}!</h1> -->
        <!-- <img src="../../assets/mh3.jpeg" width="100%" height="100%" alt=""> -->
        <div id="demo" class="carousel slide" data-ride="carousel">
           <ul class="carousel-indicators">
             <li data-target="#demo" data-slide-to="0" class="active"></li>
             <li data-target="#demo" data-slide-to="1"></li>
             <li data-target="#demo" data-slide-to="2"></li>
           </ul>
           <div class="carousel-inner">
             <div class="carousel-item active">
               <img src="../../assets/mh3.jpeg" alt="Los Angeles">
               <div class="carousel-caption">
                 <h3>Los Angeles</h3>
                 <p>We had such a great time in LA!</p>
               </div>   
             </div>
             <div class="carousel-item">
               <img src="../../assets/mh3.jpeg" alt="Chicago">
               <div class="carousel-caption">
                 <h3>Chicago</h3>
                 <p>Thank you, Chicago!</p>
               </div>   
             </div>
             <div class="carousel-item">
               <img src="../../assets/mh3.jpeg" alt="New York">
               <div class="carousel-caption">
                 <h3>New York</h3>
                 <p>We love the Big Apple!</p>
               </div>   
             </div>
           </div>
           <a class="carousel-control-prev" href="#demo" data-slide="prev">
             <span class="carousel-control-prev-icon"></span>
           </a>
           <a class="carousel-control-next" href="#demo" data-slide="next">
             <span class="carousel-control-next-icon"></span>
           </a>
         </div>
         
    </div>
    <div class="col-sm-12 col-md-12  col-lg-12 text-center my-3">
        <h4>
           Maharashtra is a state in the western peninsular region of India occupying a substantial portion of the Deccan Plateau. Maharashtra is the second-most populous state in India as well as the second-most populous country subdivision
        </h4>
    </div>
    <div class="col-sm-12 col-md-12  col-lg-12 ml-3 mr-3">
      <div class="row">
       <div class="col-sm-3 col-md-3  col-lg-3 ">
         <div class="card shadow p-3 mb-5 bg-white rounded">
         <img class="card-img-top" src="../../assets/mumbai.jpg" alt="Card image cap">
         <div class="card-body">
           <div class="bottom-left m-1">
             <h6>Mumbai</h6>
           </div>
           <p class="card-text">Massive city, home to Bollywood, grand colonial buildings & bazaars packed with antiques & textiles.</p>
         </div>
        </div>
       </div>
       <div class="col-sm-3 col-md-3  col-lg-3">
         <div class="card shadow p-3 mb-5 bg-white rounded">
         <img class="card-img-top" src="../../assets/pune.jpg" alt="Card image cap">
         <div class="card-body">
           <div class="bottom-left m-1">
             <h6>Pune</h6>
           </div>
           <p class="card-text">Sprawling city in Maharashtra with Hindu temples, Maratha Empire landmarks & Mahatma Gandhi's ashes.</p>
         </div>
        </div>
       </div>
       <div class="col-sm-3 col-md-3  col-lg-3 ">
         <div class="card shadow p-3 mb-5 bg-white rounded">
         <img class="card-img-top" src="../../assets/ElloraCaves.jpg" alt="Card image cap">
         <div class="card-body">
           <div class="bottom-left m-1">
             <h6>Ellora Caves</h6>
           </div>
           <p class="card-text">Historical Indian rock-cut architecture.</p>
         </div>
        </div>
       </div>
       <div class="col-sm-3 col-md-3  col-lg-3 ">
         <div class="card shadow p-3 mb-5 bg-white rounded">
         <img class="card-img-top" src="../../assets/Lonavla.jpg" alt="Card image cap">
         <div class="card-body">
           <div class="bottom-left m-1">
             <h6>Ellora Caves</h6>
           </div>
           <p class="card-text">Indian hill station known for Buddhist shrines at the Karla &amp; Bhaja caves, plus the Lohagad Fort.</p>
         </div>
        </div>
       </div>
      </div> 
    </div>
    <div class="col-sm-12 col-md-12  col-lg-12 ml-3 mr-3 mt-3" >
     <div class="row">
      <div class="col-sm-3 col-md-3  col-lg-3 ">
        <div class="card shadow p-3 mb-5 bg-white rounded">
        <img class="card-img-top" src="../../assets/Mahabaleshwar.jpg" alt="Card image cap">
        <div class="card-body">
         <div class="bottom-left m-1">
           <h6>Ellora Caves</h6>
         </div>
          <p class="card-text">Indian hill station near Pratapgad Fort, with viewpoints & trekking in the Western Ghats range.</p>
        </div>
       </div>
      </div>
      <div class="col-sm-3 col-md-3  col-lg-3">
        <div class="card shadow p-3 mb-5 bg-white rounded">
        <img class="card-img-top" src="../../assets/matheran.jpg" alt="Card image cap">
        <div class="card-body">
         <div class="bottom-left m-1">
           <h6>Ellora Caves</h6>
         </div>
          <p class="card-text">Hill station near Mumbai, India, with Matheran Toy Train & views from Louisa & Panorama points.</p>
        </div>
       </div>
      </div>
      <div class="col-sm-3 col-md-3  col-lg-3 ">
        <div class="card shadow p-3 mb-5 bg-white rounded">
        <img class="card-img-top" src="../../assets/Aurangabad.jpg" alt="Card image cap">
        <div class="card-body">
         <div class="bottom-left m-1">
           <h6>Ellora Caves</h6>
         </div>
          <p class="card-text">Indian city known for the Bibi ka Maqbara shrine, Aurangabad Caves & medieval Daulatabad Fort.</p>
        </div>
       </div>
      </div>
      <div class="col-sm-3 col-md-3  col-lg-3 ">
        <div class="card shadow p-3 mb-5 bg-white rounded">
        <img class="card-img-top" src="../../assets/nashik.jpg" alt="Card image cap">
        <!-- <div class="bottom-left">Bottom Left</div> -->
        <div class="card-body">
         <div class="bottom-left m-1">
           <h6>Ellora Caves</h6>
         </div>
          <p class="card-text">Indian holy city with the Panchavati temple complex & Ram Kund water tank on the Godavari River.</p>
        </div>
       </div>
      </div>
     </div> 
   </div>
    
   </div>
 